---
title: Blog Posts
layout: archives
---

<ul class="listing2">
{% for post in paginator.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <li class="listing-seperator">{{ y }}</li>
  {% endif %}
  <li class="listing-item">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    <!-- 文章中想显示摘要，可以将下面注释去掉。可显示100字摘要-->
    <!--<p>{{ post.content | strip_html | truncate:100 }}</p>-->
  </li>
{% endfor %}
</ul