<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{page.title}} ⋅ {% endif %}Vega</title>
    <link rel="shortcut icon" href="/imgs/favicon.png">
     <link rel="stylesheet" type="text/css" href="/css/home.css" media="all"/>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        	{% include nav.html %}
        <article class="content">
          {{ content }}
        </article>
      </div>

      <footer>
      </footer>

    </div>
  </body>
</html>
